<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LibNoise" version="0.2" targetFramework="net461" />
  <package id="MonoGame.Extended" version="1.0.617" targetFramework="net45" />
  <package id="MonoGame.Extended.Input" version="1.0.617" targetFramework="net45" />
  <package id="MonoGame.Extended.NuclexGui" version="1.0.617" targetFramework="net45" />
  <package id="MoreCollections.Map" version="1.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net45" />
  <package id="OptimizedPriorityQueue" version="4.1.1" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net45" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net45" />
</packages>